<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	
	<!-- 扫描controller -->
	<context:component-scan base-package="com.car.controller"></context:component-scan>
	
	<!-- 配置返回页面 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!--
		配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd
	-->
	<mvc:resources mapping="/styles/**" location="/styles/" />
	<mvc:resources mapping="/upload/**" location="/upload/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/ftl/**" location="/ftl/" />
	<mvc:resources mapping="/html/**" location="/html/" />
	<mvc:resources mapping="/admin/**" location="/admin/" />

	
	<!-- 定义文件解释器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
		<!-- 设置默认编码 -->
		<property name="defaultEncoding" value="utf-8"></property>
		<!-- 上传文件最大大小5M--> 
		<property name="maxUploadSize" value="5242440"></property>  
	</bean>
	
	<!-- json -->
	<mvc:annotation-driven/>
	
	<!-- 拦截器 -->
	<!-- 除了登陆以外的方法都要拦截 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			需要拦截的目录，二级目录
			<mvc:mapping path="/*/*"/>
			不拦截地址
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/admin/adminLogin"/>
			<mvc:exclude-mapping path="/admin/sessionrun"/>
			<mvc:exclude-mapping path="/admin/loginOut"/>
			<mvc:exclude-mapping path="/shop/*"/>
			<mvc:exclude-mapping path="/shopUser/*"/>
			<bean class="com.car.interceptor.AdminLoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
		<!-- 拦截器 -->
	 <mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截的地址   二级地址 -->
			<mvc:mapping path="/*/*"/>
		    <!-- 	不拦截 -->
			<mvc:exclude-mapping path="/admin/toLogin"/>
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/deskCar/*"/>
			<mvc:exclude-mapping path="/desk/*"/>
			<mvc:exclude-mapping path="/deskDriver/*"/>
			<mvc:exclude-mapping path="/deskExtra/*"/>
			<mvc:exclude-mapping path="/deskUser/*"/>
			<bean class="com.car.interceptor.LoginRequiredInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>